<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/savedData.css">
</head>
<body>
    <h2>Details Has been saved Successfully</h2>
    <ul>
        <li><%=name %></li>
        <li><%=password %></li>
         <li><%=email %></li>
         <li><%=salary %></li>
         <li><%=dob %></li>
        <li><%=dept %></li>
        <li><%=role %></li>
        <li><%=doj %></li>
        <a href="/employee">Add Button</a>

    </ul>
        
        
</body>
</html>