<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assests/css/layout.css">
</head>
<body> 
    <h2>Following Details has been saved Successfully</h2>    
      <ul>
        <li><%=name %></li>
        <li><%=password %></li>
        <li><%=email %></li>
        <li><%=salary %></li>
        <li><%=dob %></li>
        <li><%=department %></li>
        <li><%=role %></li>
        <li><%=doj %></li>
      </ul>
      <a href="/employee">Add Employee</a>
      <a href="/employees">Show All Employees</a>  
</body>
</html>